@{ 
    Layout = null;
}

<h2>MVC tablo denemesi</h2>
<br />
<table>
    <tr>
        <th>CategoryID</th>
        <th>CategoryName</th>
        <th>CategoryDescribtion</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Mike Tyson top 10 KO</td>
    </tr>

</table>

